<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.research.mybatis.generator.model.User" alias="user"/>
		<typeAlias type="com.research.mybatis.generator.model.Dept" alias="dept"/>
	</typeAliases>
</configuration>