<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.research.mybatis.generator.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.research.mybatis.generator.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, age, dept_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.research.mybatis.generator.model.User">
    insert into user (id, name, age, 
      dept_code)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{deptCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.research.mybatis.generator.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="deptCode != null">
        dept_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="deptCode != null">
        #{deptCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.research.mybatis.generator.model.User">
    update user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="deptCode != null">
        dept_code = #{deptCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.research.mybatis.generator.model.User">
    update user
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      dept_code = #{deptCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

	<!-- 手动添加 -->
	<!-- <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		<foreach close="" collection="list" index="index" item="item" open="" separator=";">
			insert into user (name, age,dept_code) values
			(#{item.name,jdbcType=VARCHAR},
			#{item.age,jdbcType=INTEGER},
			 #{item.deptCode,jdbcType=VARCHAR}
			)
		</foreach>
	</insert> -->
	
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into user (name, age,dept_code) values
		<foreach collection="list" index="index" item="item" open="" close="" separator=",">
			(#{item.name,jdbcType=VARCHAR},
			#{item.age,jdbcType=INTEGER},
			 #{item.deptCode,jdbcType=VARCHAR}
			)
		</foreach>
	</insert>
	
	<update id="batchUpdate" parameterType="java.util.List">
		<foreach close="" collection="list" index="index" item="item" open="" separator=";">
			update user set name=#{item.name,jdbcType=VARCHAR},age=#{item.age,jdbcType=INTEGER}
			where id=#{item.id,jdbcType=INTEGER}
		</foreach>
	</update>
	
	<delete id="batchDelete" parameterType="java.util.List">
		<foreach close="" collection="list" index="index" item="item" open="" separator=";">
			delete from user
			where id=#{item.id,jdbcType=INTEGER}
		</foreach>
	</delete>
	
	<select id="selectLikeName" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where name like CONCAT('%',#{name},'%' ) 
	</select>
	
	<select id="selectUser" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		<where>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="age != null">
				and age = #{age,jdbcType=INTEGER}
			</if>
		</where>
	</select>
	
	<resultMap id="ExtResultMap" type="com.research.mybatis.generator.model.UserExt" extends="BaseResultMap">
   	 <result column="name" jdbcType="VARCHAR" property="deptName" />
  </resultMap>
	
	<select id="selectUserExt" parameterType="map" resultMap="ExtResultMap">
		select
		 	u.*, d.name
		from user u inner join dept d on u.dept_code = d.code
		<where>
			<if test="name != null">
				u.name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="age != null">
				and u.age = #{age,jdbcType=INTEGER}
			</if>
		</where>
	</select>
	
</mapper>